---
layout: page
title: Categories
permalink: /categories/
---

<div id="categories">
  {% assign categories = site.categories | sort %}
  {% for category in categories %}
    {% assign cat = category | first %}
    {% assign posts = category | last %}
    <h2 id="{{ cat | slugify }}">{{ cat }}</h2>
    <ul>
      {% for post in posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <small>({{ post.date | date_to_string }})</small>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>