<!-- The Top Bar -->
<header id="topbar-wrapper" aria-label="Top Bar">
  <div id="topbar" class="d-flex align-items-center justify-content-between px-lg-3 px-md-2">
    <!-- Sidebar toggler -->
    <button id="sidebar-trigger" type="button" aria-label="Sidebar toggler">
      <i class="fas fa-bars"></i>
    </button>

    <div id="topbar-title">
      {% if page.layout == 'home' %}
        {{ site.title }}
      {% elsif page.collection == 'tabs' %}
        {{ page.title }}
      {% else %}
        {{ page.title | default: site.title }}
      {% endif %}
    </div>

    <button id="search-trigger" type="button" aria-label="Search">
      <i class="fas fa-search"></i>
    </button>
  </div>
</header>