---
layout: page
---

<div id="archives" class="px-xl-2">
  {% assign posts_by_year = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' | reverse %}

  {% for year in posts_by_year %}
    <section>
      <span class="lead">{{ year.name }}</span>

      <ul class="list-unstyled">
        {% for post in year.items %}
          <li>
            <div class="d-flex">
              <span class="date day">{{ post.date | date: "%d" }}</span>
              <span class="date month small text-muted ms-1">
                {{ post.date | date: "%b" | upcase }}
              </span>
              <a class="post-link ms-2" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</div>