---
layout: page
---

<div id="page-category">
  <h1 class="pl-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    Categories
  </h1>

  <ul class="list-group">
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
      {% assign category_name = category | first %}
      {% assign posts_count = category | last | size %}

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#{{ category_name | slugify }}" class="mx-2">{{ category_name }}</a>
        <span class="badge badge-pill">{{ posts_count }}</span>
      </li>
    {% endfor %}
  </ul>

  <hr>

  {% for category in categories %}
    {% assign category_name = category | first %}
    {% assign posts_list = category | last %}

    <div id="{{ category_name | slugify }}" class="category">
      <h2 class="category-title">
        <i class="far fa-folder fa-fw text-muted"></i>
        {{ category_name }}
      </h2>

      <ul class="post-content">
        {% for post in posts_list %}
          <li class="d-flex justify-content-between px-md-3">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="dash flex-grow-1"></span>
            <span class="text-muted small">{{ post.date | date: '%Y-%m-%d' }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>