---
layout: page
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
    {% assign tag_name = tag | first %}
    {% assign tag_size = tag | last | size %}

    <a href="#{{ tag_name | slugify }}" class="tag">
      <span class="p-2">
        {{ tag_name }}
        <span class="text-muted">{{ tag_size }}</span>
      </span>
    </a>
  {% endfor %}
</div>

<hr>

<div id="tag-lists">
  {% for tag in tags %}
    {% assign tag_name = tag | first %}
    {% assign posts_list = tag | last %}

    <div id="{{ tag_name | slugify }}" class="tag-list">
      <h2>#{{ tag_name }}</h2>

      <ul class="post-content">
        {% for post in posts_list %}
          <li class="d-flex justify-content-between px-md-3">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="dash flex-grow-1"></span>
            <span class="text-muted small">{{ post.date | date: '%Y-%m-%d' }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>